<!DOCTYPE html>
<html lang="en">
<head>
    <title>Filter Page</title>
    <link rel="stylesheet" href="~/css/homeStyle.css" />
</head>
<body>
    <div class="menu-bar">
        <a href="/">Home</a>
        <div class="menu-bar-right">
            @* @if (User == null)
            {
                <a href="/login">Login</a>
            }
            else
            {
                <form method="post" asp-page="/logout">
                    <button type="submit">Logout</button>
                </form>
            } *@
            <form asp-action="SearchPost" asp-controller="Post" method="get">
                <input type="text" name="q" placeholder="Search blog posts" />
            </form>
            <form asp-action="Sort" asp-controller="Post" method="get">
                <select id="sort" name="sort" class="sortButton">
                    <option value="asc">Oldest</option>
                    <option value="desc">Newest</option>
                </select>
                <input type="submit" value="SortByPublishDate">
            </form>
            
            <a asp-action="NewPost" asp-controller="Post">Create New Blog</a>
            <span >
                    <span >
                        <a asp-action="UserPost" asp-controller="Home">Your Post</a>
                    </span>
                    @* <span >
                        <a>All Post</a>
                    </span> *@
            </span>
        </div>
    </div>
    <div>
        <form asp-action="FilterBy" asp-controller="Post" method="post">
            <div class="filterContainer">
                <div class="item">
                    <p>Author</p>
                    @foreach (var user in @ViewBag.Users)
                    {
                        <div>
                            <input type="checkbox" name="authorsName" value="@user.Name">
                            <span>@user.Name</span>
                        </div>
                    }
                </div>
                <div class="item">
                    <p>Tags</p>
                    @foreach (var tag in @ViewBag.Tags)
                    {
                        <div>
                            <input type="checkbox" name="tagsId" value="@tag.Id">
                            <span>@tag.Name</span>
                        </div>
                    }
                </div>
            </div>
            <div align="center">
                <input type="submit" value="Filter">
            </div>
        </form>
    </div>
</body>
</html>
